.hero {
    &__image-wrapper {
        position: relative;
        overflow: hidden;
        height: 400px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        color: var(--col-navy);
    }

    h2 {
        color: var(--col-grey-900);
        margin-bottom: 2rem;
    }

    &__intro {
        color: var(--col-grey-900);
        font-size: var(--fs-400);
        font-weight: var(--fw-semi);
        max-width: 90ch;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(8px);
    }

    30% {
        transform: translateY(4px);
    }
}

.down-arrow {
    width: 40px;
    height: 40px;
    margin: 2rem auto 0;
    display: block;
    animation: bounce 1.5s ease-out infinite;
}