.split {
	overflow: hidden;

	&__text-column {
		@media (min-width:992px) {
			min-height: 600px;
		}
	}

	.left-half,
	.right-half {
		left: 50%;
		margin-left: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		padding: 0;
	}

	@media (min-width:992px) {
		.left-half {
			padding-left: 0 !important;
			position: absolute;
			left: 0;
			right: 50%;
			margin-left: auto;
			width: auto;
		}

		.right-half {
			padding-right: 0 !important;
			position: absolute;
			right: 0;
			left: 50%;
			margin-left: auto;
			width: auto;
		}
	}

	&__image {
		overflow: hidden;
		position: relative;
		min-height: 300px;

		@media (min-width:992px) {
			height: 100%;
			min-height: 400px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}