.sector-cards {
    &__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-decoration: none !important;   
        &:hover {
            .sector-cards__image-wrapper {
                border-color: inherit;
                img {
                    transform: scale(1.05);
                }
            }
            .sector-cards__title {
                text-decoration: none !important;
            }
        }
    }
    &__image-wrapper {
        // width: 50%;
        aspect-ratio: 4/3;
        overflow: hidden;
        // border-radius: 100vw;
        border-width: 3px;
        border-style: solid;
        border-color: transparent;
        transition: border-color var(--transition);
        img {
            transition: var(--transition);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        color: inherit;
        font-size: var(--fs-300);
        padding: 0 1rem 0.5rem 1rem;
        margin-bottom: 0;
        text-align: center;

    }
}