.home-hero {
    position: relative;
    min-height: calc(100svh - var(--h-top));
    overflow: hidden;
    isolation: isolate;
    color: var(--col-white);

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: -1;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
    }
    .content {
        z-index: 1;
        margin-inline: auto;
    }

    h1 {
        text-shadow: var(--text-shadow);
        font-size: var(--fs-900);
        line-height: var(--lh-tight);
        letter-spacing: -0.05em;
    }
    .words {
        font-size: var(--fs-500);
        font-weight: var(--fw-500);
        text-shadow: var(--text-shadow);
        line-height: var(--lh-snug);
    }
}