.cs-detail {
    &__grid {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 0.5rem 1rem;
        position: relative;
    }

    &__divider {
        grid-column: 1 / -1;
        height: 1px;
        background-color: var(--bs-border-color);
    }

}