.footer {
  background-color: var(--col-navy);
  color: var(--col-white);

  font-size: var(--fs-200);

  .footer-logo {
    max-width: 220px;
  }

  .cb {
    content: url(../img/cb.png);
    transition: opacity .3s ease;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }

  .footer-title {
    font-weight: var(--fw-semi);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: var(--col-blue-300);
  }

  ul.footer__menu {
    padding-inline-start: 0;
  }
  li {
    margin-bottom: 0.5rem;
    list-style: none !important;

    a {
      color: var(--col-white);
      text-decoration: none;
      transition: color var(--transition);

      &:hover {
        color: var(--col-grey);
      }
    }
  }

  &__menu {
    list-style: none;

    ul {
      padding-inline-start: 0;

      li {
        list-style: none;
      }
    }

    a {
      text-decoration: none;
      font-size: var(--fs-ui);
      color: var(--col-white);
      transition: color var(--transition);

      &:hover {
        color: var(--col-grey);
      }
    }
  }

  &__contact {
    font-size: var(--fs-ui);
    line-height: var(--lh-normal);

    a {
      text-decoration: none;
      color: var(--col-white);
      transition: color var(--transition);

      &:hover {
        color: var(--col-grey);
      }
    }
  }

  .social-icons {
    a {
      color: var(--col-white);
      text-decoration: none;
      font-weight: 600;
      transition: color var(--transition);

      &:hover {
        color: var(--col-primary-400);
      }
    }
  }

  .colophon {
    border-block-start: 1px solid hsl(0 0% 100% / 0.2);
    margin-block-start: 2rem;
    padding-block-start: 1rem;
    font-size: var(--fs-100);
    font-weight: var(--fw-300);
    color: var(--col-white);

    >* {
      opacity: 0.6;
    }

    a {
      color: var(--col-white);
      text-decoration: none;
      transition: color var(--transition);

      &:hover {
        color: var(--col-grey);
      }
    }
  }
}