header {
  background-color: var(--col-navy);
  transition: var(--transition);

  font-family: var(--ff-body);

  .navbar {
    height: 100%;
  }

  .navbar-toggler {
    i {
      color: var(--col-white);
    }
  }

  #navbar {
    height: 100%;
  }

  .navbar-nav {
    margin-block: 0;
  }

  li.menu-item {
    list-style: none !important;
  }

  a,
  a.nav-link {
    color: var(--col-white);
    font-size: var(--fs-400);
    font-weight: var(--fw-semi);
    transition: var(--transition);
    display: inline-block;
    text-decoration: none;
    text-transform: initial;
    padding: 0;
    @media (min-width: 992px) {
      &:hover {
        color: var(--col-grey);
        text-decoration: none;
      }
    }
    &:focus {
      color: var(--col-grey);
      text-decoration: none;
    }
  }

  a.dropdown-item {
    font-size: var(--fs-300);
  }

  .navbar-brand {
    background-image: url(../img/norton-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    aspect-ratio:  247.56 / 45.3;
    width: 248px;
    height: 45px;
    margin-right: 0;
  }

  .current_page_item > .nav-link,
  .current_page_parent > .nav-link,
  .current-page-ancestor > .nav-link,
  .current-menu-ancestor > .nav-link,
  .current-menu-parent > .nav-link,
  .dropdown.current-page-ancestor > .nav-link,
  .dropdown.current-menu-ancestor > .nav-link,
  .dropdown.current-menu-item > .nav-link {
    color: var(--col-grey);
    font-weight: var(--fw-semi);
  }

  @media (max-width: 991px) {
    /* Prevent horizontal overflow in Chrome device emulation */
    .navbar {
      overflow-x: hidden;
      max-width: 100%;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-collapse {
      min-height: 100svh;
      /* Do not set display:flex or height, let Bootstrap animate */
    }
    .navbar-nav {
      width: 100%;
      padding-bottom: 2rem;
    }
    .nav-link,
    .navbar-nav .nav-link {
      font-size: var(--fs-400);
      font-weight: var(--fw-semi);
      padding: 0.75rem 1rem;
    }
    .fa-solid,
    a:hover {
      color: var(--col-accent) !important;
      text-decoration: none;
    }
    .dropdown-item {
      font-size: var(--fs-400);
    }

    .fs-subtle a {
      font-size: var(--fs-400);
    }
  }
}
